[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/solady"]
	path = lib/solady
	url = https://github.com/vectorized/solady
[submodule "lib/ethfs"]
	path = lib/ethfs
	url = https://github.com/holic/ethfs
[submodule "lib/scripty"]
	path = lib/scripty
	url = https://github.com/intartnft/scripty.sol
